/*使ってなさそう*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*画面に映るメインの部分を管理する*/
.container {
    text-align: center;
}

/*h1タグのテキスト管理*/
h1 {
    margin-bottom: 20px;
}

/*文字列を生成するボックスを含むその行のアイテムを管理するクラス*/
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/*生成するボタン*/
.genelate_button{
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    width: 300px;
    height: 50px;
    background-color: #2e2e4d;
    color: white;
}

/*いつ・どこなどのテキストラベル*/
.label {
    margin-right: 10px;
    font-weight: bold;
}

/*文字列を生成するボックス*/
.box {
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    width: 300px;
    height: 50px;
    border: 1px solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #f0f0f0;
}

/*ボタン全般*/
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/*ロゴ*/
.img_main_logo{
    zoom: 30%;
}
